/*common start*/
body {
  margin: 0;
  padding: 0;
}
/*common end*/
/*header start*/
header {
  border-bottom: 3px soli #eef0f3;
  padding: 10px 0;
}
.container {
  width: 90%;
  /*border: 1px solid red;*/
  margin: 0 auto;
  overflow: hidden;
}
.logo {
  width: 10%;
  /*border: 1px solid red;*/
  float: left;
}
.logo img {
  width: 100%;
}
.menu {
  margin-top: 3px;
  width: 45%;
  /*border: 1px solid red;*/
  float: right;
}
.menu ul {
  float: right;
}
.menu ul li {
  list-style: none;
  float: left;
}
.menu ul li a {
  font-family: sans-serif;
  font-family: 16px;
  font-weight: 400;
  color: #0f2656;
  text-decoration: none;
  margin: 0px 20px;
  display: inline-block;
}
.menu ul li:last-child a {
  margin-right: 0;
}
/*header end*/
/*banner start*/
.banner {
}
.container2 {
  width: 55%;
  margin: 0 auto;
}
.b_content {
  font-family: sans-serif;
  text-align: center;
}
.b_content h1 {
  font-size: 45px;
  font-weight: 700;
  color: #0f2656;
}
.b_content h2 {
  margin: 10px 0;
  font-size: 45px;
  font-weight: 700;
  color: #008aff;
}
.b_content p {
  font-size: 16px;
  font-weight: 400;
  color: #0f2656;
  line-height: 23px;
  word-spacing: 1px;
}
.b_img {
  margin: 0 auto;
  width: 75%;
  border: 1px solid red;
}
.b_img img {
}
/*banner end*/
/*success start*/
.success {
  padding: 60px 0;
}
.s_content {
  overflow: hidden;
  font-family: sans-serif;
}
.s_left {
  width: 40%;
  float: left;
  text-align: right;
  padding: 0 10px 0 20px;
}
.s_left h2 {
  font-size: 40px;
  font-weight: 700;
  color: #f15767;
  margin: 0 0 10px;
}
.s_left p {
  font-size: 16px;
  font-weight: 400;
  color: #0f2656;
  margin: 0;
}
.s_right {
  width: 50%;
  float: right;
}
.s_right h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0f2656;
  line-height: 50px;
  margin: 0;
}
/*success end*/
/*feature start*/
.feature {
}
.f_content {
  overflow: hidden;
}
.f_single {
  width: 28%;
  font-family: sans-serif;
  color: #0f2656;
  padding: 30px 24px 45px;
  float: left;
  margin-right: 25px;
}
.f_single:last-child {
  margin-right: 0;
}
.f_img {
}
.f_img img {
  width: 100%;
}
.f_single h2 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: 700;
}
.pink {
  background-color: #fdebed;
}
.green {
  background-color: #e8f9f4;
}
.yellow {
  background-color: #fff7eb;
}
.f_single p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/*feature end*/
